name: Run Tests

on:
  push:
    branches: [main]
  pull_request:
    branches:
      - '*'
  # Run weekly on Monday
  schedule:
    - cron: 0 0 * * 1

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test-build:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: ['ubuntu-latest', 'macos-latest', 'windows-latest']
        python-ver: ['3.10', '3.11', '3.12', '3.13', '3.14']

    name: Python ${{ matrix.python-ver }} check on ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-ver }}

      - name: Install package
        run: pip install .[all]
        shell: bash

      - name: Run tests with coverage for Ubuntu on Python 3.10
        if: ${{ matrix.os == 'ubuntu-latest' && matrix.python-ver == '3.10' }}
        run: pytest --cov nifti2bids

      - name: Run test without coverage for Ubuntu from Python >= 3.10
        if: ${{ matrix.os == 'ubuntu-latest' && matrix.python-ver != '3.10' }}
        run: pytest .

      - name: Run test without coverage for Windows and Mac
        if: ${{ matrix.os != 'ubuntu-latest' }}
        run: pytest .

      - name: Upload coverage reports to Codecov for Ubuntu
        if: ${{ matrix.os == 'ubuntu-latest' && matrix.python-ver == '3.10' }}
        uses: codecov/codecov-action@v5.5.2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
